@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
    width: 100%;
}

#main-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#navbar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;    
}

#navbar > #navbar-title,
#navbar > #wallet-container {
    vertical-align: middle;
}

#navbar-title {
    position: relative;
    float: left;
    color: #0D0533;
    font-size: 30px;
    left: 200px;
    top: -10px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#navbar-title-icon { 
    margin-right: 10px;
    height: 35px;
}

#navbar-title > #navbar-title-icon {
    vertical-align: middle;
}

#wallet-container {
    position: relative;
    float: right;
    background: white;
    right: 200px;
    top: 15px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
}

#wallet-container:hover {
    background: rgba(255,255,255,0.7);
}

#wallet-btn {
    height: 50px;
    width: 150px;
    color: #0D0533;
    background: none;
    border: 0px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#content-container {
    float: none;
    height: 500px;
    width: calc(100% - 400px);
    margin: auto;
    position: relative;
    text-align: center;
}

#content-title {
    position: relative;
    top: 175px;
    font-size: 75px;
    width: 775px;
    font-weight: bold;
    margin: auto;
    font-family: "Lato", sans-serif;
    color: #0D0533;
}

#content-btns-container {
    position: relative;
    margin: auto;
    height: 75px;
    width: 725px;
    top: 225px;
    display: flex;
    flex-direction: row;
    /* background-color: lightskyblue; */
}

#content-btns-container .btn-container {
    position: relative;
    height: 100%;
    width: 350px;
    background: white;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
    cursor: pointer;
}

#content-btns-container .btn-container:nth-child(1) {
    margin-right: 25px;
}

#content-btns-container .btn-container:hover {
    background: rgba(255,255,255,0.7);
}

#content-btns-container .btn-container .btn {
    background: none;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0px;
    font-size: 16px;
    color: #0D0533;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#content-btns-container .btn-container .btn > img,
#content-btns-container .btn-container .btn > span {
    vertical-align: middle;
}

#content-btns-container .btn-container .btn .btn-ico {
    height: 25px;
    margin-right: 7px;
}

#footer {
    position: fixed;
    height: 75px;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

#footer-text {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #0D0533;
    float: right;
    right: 200px;
}

#footer-logo {
    position: relative;
    float: right;
    height: 30px;
    top: -5px;
    left: 5px;
}