@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  height: 100%;
  width: 100%;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

#main-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100%;
  width: 100%;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
