@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
    width: 100%;
}

#index-main-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#index-bg-container {
    position: relative;
    float: left;
    z-index: 1;
    height: 100%;
    width: 25%;
}

#index-content-container {
    position: relative;
    float: right;
    z-index: 1;
    height: 100%;
    width: 75%;
    /* background: #eeedee */
}

#index-navbar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;    
}

#index-title {
    position: relative;
    float: left;
    color: #0D0533;
    font-size: 30px;
    left: 200px;
    top: -10px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#index-title-icon { 
    margin-right: 10px;
    height: 35px;
}

#index-title > #index-title-icon {
    vertical-align: middle;
}

#connect-wallet {
    position: relative;
    float: right;
    background: white;
    right: 200px;
    top: 15px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
}

#connect-wallet-btn {
    height: 50px;
    width: 150px;
    color: #0D0533;
    background: none;
    border: 0px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#index-content-container {
    float: none;
    height: 500px;
    width: calc(100% - 400px);
    margin: auto;
    position: relative;
    text-align: center;
}

#index-content-title {
    position: relative;
    top: 175px;
    font-size: 75px;
    width: 775px;
    font-weight: bold;
    margin: auto;
    font-family: "Lato", sans-serif;
    color: #0D0533;
}

#index-content-btns-container {
    position: relative;
    margin: auto;
    height: 75px;
    width: 725px;
    top: 225px;
    display: flex;
    flex-direction: row;
    /* background-color: lightskyblue; */
}

.index-content-btn-container {
    position: relative;
    height: 100%;
    width: 350px;
    background: white;
    background: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 5px;
    cursor: pointer;
}

.index-content-btn-container:nth-child(1) {
    margin-right: 25px;
}

.index-content-btn-container:hover {
    background: rgba(255,255,255,0.7);
}

.index-btn {
    background: none;
    position: relative;
    height: 100%;
    width: 100%;
    border: 0px;
    font-size: 16px;
    color: #0D0533;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.index-btn > img,
.index-btn > span {
    vertical-align: middle;
}

.index-btn-ico {
    height: 25px;
    margin-right: 7px;
}

#index-footer {
    position: fixed;
    height: 75px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    /* background: lightgoldenrodyellow; */
}

#index-footer-text {
    position: relative;
    /* top: 30px; */
    font-size: 16px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: #0D0533;
    float: right;
    right: 200px;
}

#index-footer-logo {
    position: relative;
    float: right;
    height: 30px;
    top: -5px;
    left: 5px;
}